{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl ?? "" %}

{% set crumbs = [
    { label: "Subscriptions", url: cpUrl('mollie-subscription') },
    { label: 'Subscribers', url: '#' },
] %}

{% set title = element.email %}
{% block header %}
    {{ block('pageTitle') }}
    {{ block('contextMenu') }}
{% endblock %}


{% block content %}
    mlkj
{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        <div class="field" id="email-field">
            <div class="heading">
                <label id="slug-label" for="slug">{{ "Email"|t("mollie-subscription") }}</label>
            </div>
            <div class="input ltr">
                <input class="text fullwidth" disabled type="text" value="{{ element.email }}" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Enter slug">
            </div>
        </div>
    </div>
{% endblock %}